@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333333;
  font-family: "Satoshi";
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  @apply scroll-smooth;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.gradient-border {
  border: 2px solid transparent;
  border-radius: 24px; /* match with rounded-[24px] */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(180deg, #fe6037 0%, #77c6b3 49.04%, #3861fa 93.27%)
      border-box;
}

/* swiper */
